<html>
  <head>
    <title><%= title %></title>
  </head>

  <body>
    <h1><%= title %></h1>
    <%- include('searchBar.ejs') %>

    <ul>
      <% if (locals.usernames) { %> <% usernames.forEach((username) => { %>
      <li>
        <%= username.username %>

        <form
          action="/<%= username.id %>/delete"
          method="post"
          style="display: inline"
        >
          <button
            type="submit"
            onclick="confirm('Are you sure to delete this user?')"
          >
            Delete
          </button>
        </form>
      </li>
      <% }) %> <% } %>
    </ul>

    <a href="/new">Create a user</a>
  </body>
</html>
